.navbar {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 80px;
  background-color: #1f1f1f;
  padding: 0 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;

  .navbar-list {
    list-style: none;
    display: flex;
    gap: 10rem;
    justify-content: space-be;
    align-items: center;
    cursor: pointer;

    .navbar-item {
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 0.75rem;
        display: block;
        transition: background 0.2s, color 0.2s;

        &:hover {
          background-color: #333;
          border-radius: 4px;
        }
      }

      &.active a {
        color: #ffd700;
        font-weight: 700;
      }
    }
  }

   .navbar-right {
    display: flex;
    align-items: center;

    .user-icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #ccc;
      cursor: pointer;
      padding-left: 200px;
    }
  }

}
