.marketmesh {
  font-family: "Poppins", sans-serif;
  color: #111;
}
html, body {
  margin: 0;
  padding: 0;
  width:100vw;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, #8e0404, #ba5757, #ef2543);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0 2rem;
  overflow-x: hidden;
  overflow-y: auto;
   
  .hero-content {
    max-width: 100%;

    h1 {
      font-size: 3rem;
      line-height: 1.3;
      span {
        color: #00aaff;
      }
    }

    p {
      margin: 1rem 0 2rem;
      font-size: 1.1rem;
      color: #e0e0e0;
    }

    .hero-buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .btn-primary {
        background: #00aaff;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        width: 100px;
        height: 40px;
        border-radius: 5px;

      }

      .btn-secondary {
        background: transparent;
        border: 1px solid #00aaff;
        color: #00aaff;
        padding: 0.8rem 1.5rem;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

/* Features */
.features {
  padding: 6rem 2rem;
  background: #f8f9fa;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    color: #111;
    margin-bottom: 3rem;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;

    .feature-card {
      background: #fff;
      border-radius: 12px;
      padding: 2rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: translateY(-5px);
      }

      .icon {
        font-size: 2rem;
        color: #00aaff;
        margin-bottom: 1rem;
      }

      h3 {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
      }

      p {
        color: #555;
      }
    }
  }
}

/* CTA */
.cta {
  padding: 5rem 2rem;
  background: linear-gradient(90deg, #e3070f, #4297d4);
  color: #fff;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .btn-primary {
    background: #fff;
    color: #0077cc;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
  }
}

/* Footer */
.footer {
  background: #0e0e10;
  color: #bbb;
  padding: 2rem;
  text-align: center;

  .links {
    margin-top: 0.8rem;

    a {
      color: #bbb;
      margin: 0 0.8rem;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #00aaff;
      }
    }
  }
}
