# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json.*
yarn.lock.*
pnpm-lock.yaml.*

# Build output
dist/
build/
.out/
.vercel/output/

# Vercel local/project files
.vercel/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
logs/
debug.log

# OS junk
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp

# Test & coverage
coverage/
.nyc_output/

# Cache
.cache/
.tmp/
.eslintcache
stylelintcache
